<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=${WIDTH}, initial-scale=1"/>
    <title>jsmpeg streaming</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!-- The Canvas size specified here is the "initial" internal resolution. jsmpeg will
    change this internal resolution to whatever the source provides. The size the
    canvas is displayed on the website is dictated by the CSS style.
-->

<div class="grid-container">
    <div id="camera-wrapper" class="grid-item">
        <h1>Live Raspberry Camera</h1>
        <h3>using websockets.</h3>
        <canvas id="video-canvas" width="${WIDTH}" height="${HEIGHT}"></canvas>
    </div>

    <div id="sensors-wrapper" class="grid-item">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<!-- Transfer some settings from server to client -->
<script type="text/javascript">
    const cameraPort = '${CAMERA_WS_PORT}';
    const sensorsPort = '${SENSORS_WS_PORT}';

    const color = '${COLOR}';
</script>

<script type="text/javascript" src="jsmpg.js"></script>
<script type="text/javascript" src="client.js">

</script>
</body>
</html>